<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/styles.css" rel="stylesheet">
        <link rel="icon" href="/img/weather.svg"/>
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Vitali Krieger. It uses data from weatherstack and positionstack</p>
        <img class="portrait" src="./img/robot.webp" alt="profile robot img" />
    </div>

    {{>footer}}
</body>

</html>